<div class="landing-page">
   <div class="wrapper">
     <div class="d-flex flex-column justify-content-center align-items-center text-center h-100">
       <h3 class="display-3 animated slideInDown"><i class="fa fa-shopping-cart"></i>Big Basket</h3>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores dolore error excepturi exercitationem fugit impedit, in mollitia nemo nihil provident quaerat quidem sapiente, sequi suscipit tenetur totam veniam veritatis!</p>
     </div>
   </div>
</div>
