<div class="landing-page">
  <div class="wrapper">
    <div class="d-flex flex-column text-center justify-content-center align-items-center h-100">
      <h5 class="display-4 animated slideInDown" >Events Booking App</h5>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur beatae consequatur, cupiditate facere in laudantium molestias nesciunt qui recusandae sequi ullam veniam vitae voluptate, voluptatem. At et neque officiis.</p>
        <a routerLink="events/free-events" class="btn btn-danger btn-sm">Book Now</a>
    </div>
  </div>
</div>
