<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 text-success">Free Events</p>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, blanditiis commodi corporis cumque dolore dolorum enim ipsum laborum officia placeat quam reiciendis voluptate. Ad autem fuga neque ratione vero vitae.</p>
      <p class="h5">Available: {{events?.length}}</p>  <!-- optional check with events -->
     </div>
  </div>

  <div class="row mt-3" *ngIf="events?.length > 0">
    <div class="col" *ngFor="let event of events">
    <div class="card animated slideInUp mt-3">
      <img [src]="event.image" alt=""/>
      <div class="card-body rgba-green-light">
         <div class="row">
           <div class="col">
             <p class="h3">{{event.name}}</p>
             <p>{{event.date}}</p>
           </div>
           <div class="col">
             <button class="btn btn-success">Book Now</button>
           </div>
         </div>
      </div>
  </div>
</div>
</div>
</div>
