<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 text-success">Product Admin Portal</p>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut commodi consectetur corporis enim error id illo iusto maxime minima numquam quibusdam recusandae reiciendis sapiente, sit vel voluptas. Hic, voluptatibus.</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
       <a routerLink="/products/create-product" class="btn btn-success btn-sm">Create Product</a>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <table class="table table-hover table-success table-striped text-center">
        <thead>
         <tr>
           <th>SNO</th>
           <th>Product</th>
           <th>Name</th>
           <th>Price</th>
           <th>Qty</th>
           <th>Actions</th>
         </tr>
        </thead>
        <tbody *ngIf="products.length > 0">
         <tr *ngFor="let product of products">
           <td>{{product._id.substr(product._id.length-5)}}</td>
           <td>
            <img [src]="product.image" alt="" width="50" height="50"/>
           </td>
           <td>{{product.name}}</td>
           <td>{{product.price | currency: 'INR'}}</td>
           <td>{{product.qty}} kgs</td>
           <td>
              <a routerLink="/products/{{product._id}}" class="btn btn-secondary btn-sm">Update</a>
              <button (click)="changeDeleteProduct(product._id)" class="btn btn-secondary btn-sm">Delete</button>
           </td>
         </tr>
        </tbody>
        <tbody *ngIf="products.length === 0">
           <tr>
             <td colspan="6" class="text-danger font-weight-bold">
               <p class="h3">---No products found---</p>
             </td>
           </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
