/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.landing-page{
  background: white url("./assets/images/bg-image.jpg") no-repeat scroll;
  background-size: cover;
  height: 100vh;
  color: lightsalmon;
}
.wrapper{
  padding-top: 200px;
}

.is-invalid{
  background-color: #fdeae2 !important;
  border-left: 10px solid lightsalmon;
}

.is-valid{
  background-color: lightgreen !important;
  border-left: 10px solid lightgreen;
}
